In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
%matplotlib inline

In [2]:
df = pd.read_csv('ESSdata_Thinkful.csv.txt')
df.head()

,cntry,idno,year,tvtot,ppltrst,pplfair,pplhlp,happy,sclmeet,sclact,gndr,agea,partner
0,CH,5.0,6,3.0,3.0,10.0,5.0,8.0,5.0,4.0,2.0,60.0,1.0
1,CH,25.0,6,6.0,5.0,7.0,5.0,9.0,3.0,2.0,2.0,59.0,1.0
2,CH,26.0,6,1.0,8.0,8.0,8.0,7.0,6.0,3.0,1.0,24.0,2.0
3,CH,28.0,6,4.0,6.0,6.0,7.0,10.0,6.0,2.0,2.0,64.0,1.0
4,CH,29.0,6,5.0,6.0,7.0,5.0,8.0,7.0,2.0,2.0,55.0,1.0

https://thinkful-ed.github.io/data-201-resources/ESS_practice_data/ESS_codebook.html

1) Did people become less trusting from 2012 to 2014? Compute results for each country in the sample.

2) Did people become happier from 2012 to 2014? Compute results for each country in the sample.

3) Who reported watching more TV in 2012, men or women?

4) Who was more likely to believe people were fair in 2012, people living with a partner or people living alone?

5) Pick three or four of the countries in the sample and compare how often people met socially in 2014. Are there differences, and if so, which countries stand out?

6) Pick three or four of the countries in the sample and compare how often people took part in social activities, relative to others their age, in 2014. Are there differences, and if so, which countries stand out?

In [3]:
df['year'].value_counts()

7    4297
6    4297
Name: year, dtype: int64

In [4]:
ess2012 = df[df['year'] == 6]

In [5]:
ess2014 = df[df['year'] == 7]

# Q1

In [6]:
a = ess2012.groupby(ess2012['cntry'])['ppltrst'].mean()

In [7]:
b = ess2014.groupby(ess2014['cntry'])['ppltrst'].mean()

In [8]:
a - b

cntry
CH   -0.073739
CZ   -0.062138
DE   -0.142857
ES    0.219464
NO    0.050685
SE   -0.199210
Name: ppltrst, dtype: float64

4 of the 6 countries saw a decrease in trust among ppl while 2 countries ES and NO saw a slight increase.  Overall no country had a major difference.

# Q2

In [9]:
a = ess2012.groupby(ess2012['cntry'])['happy'].mean()

In [10]:
b = ess2014.groupby(ess2014['cntry'])['happy'].mean()

In [11]:
# Difference from 2012 to 2014
a - b

cntry
CH   -0.028118
CZ   -0.143213
DE   -0.428571
ES    0.128713
NO    0.336535
SE   -0.039574
Name: happy, dtype: float64

4 of the 6 countries saw a decrease in trust among ppl while 2 countries ES and NO saw a slight increase.  Overall no country had a major difference. The same countries that saw a lost in trust also saw a dip in happiness

# Q3

In [12]:
df.columns

Index(['cntry', 'idno', 'year', 'tvtot', 'ppltrst', 'pplfair', 'pplhlp',
       'happy', 'sclmeet', 'sclact', 'gndr', 'agea', 'partner'],
      dtype='object')

In [13]:
ess2012.groupby(ess2012['gndr'])['tvtot'].mean()

gndr
1.0    3.901906
2.0    3.944393
Name: tvtot, dtype: float64

In [14]:
male = ess2012.groupby(ess2012['gndr'])['tvtot'].mean()[1]
female = ess2012.groupby(ess2012['gndr'])['tvtot'].mean()[2]

In [15]:
# diffence between males and females in 2012
male - female

-0.042486433173877014

Females watched slightly more television then males did in 2012

# Q4

In [16]:
ess2012.groupby(ess2012['partner'])['pplfair'].mean()

partner
1.0    6.080736
2.0    5.856965
Name: pplfair, dtype: float64

In [17]:
withpn = ess2012.groupby(ess2012['partner'])['pplfair'].mean()[1]
withoutpn = ess2012.groupby(ess2012['partner'])['pplfair'].mean()[2]

# difference in ppl fairness with a partner v without in 2012
withpn - withoutpn

0.22377083788716945

People in a marrage or with a partner tended to believe that people were more fair in 2012.

# Q5

In [18]:
ess2014.groupby(ess2014['cntry'])['sclmeet'].mean()

cntry
CH    5.160622
CZ    4.445802
DE    4.428571
ES    5.260116
NO    5.302326
SE    5.426211
Name: sclmeet, dtype: float64

In [19]:
ch_sclmeet = ess2014[ess2014['cntry'] == 'CH']['sclmeet']
de_sclmeet = ess2014[ess2014['cntry'] == 'DE']['sclmeet']
se_sclmeet = ess2014[ess2014['cntry'] == 'SE']['sclmeet']

In [20]:
F, p = stats.f_oneway(
    ch_sclmeet,
    de_sclmeet,
    se_sclmeet)

# The F statistic.
print(F)

# The probability. A p < .05 would lead us to believe the group means were
# not all similar in the population.
print(p)

nan
nan

In [21]:
print(stats.ttest_ind(ch_sclmeet, de_sclmeet))
print(stats.ttest_ind(ch_sclmeet, se_sclmeet))
print(stats.ttest_ind(se_sclmeet, de_sclmeet))

Ttest_indResult(statistic=nan, pvalue=nan)
Ttest_indResult(statistic=nan, pvalue=nan)
Ttest_indResult(statistic=2.7112078703542792, pvalue=0.006828774243218391)

C:\Users\etallen127\AppData\Local\Continuum\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
C:\Users\etallen127\AppData\Local\Continuum\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
C:\Users\etallen127\AppData\Local\Continuum\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

# Q6

In [22]:
SE_sclact = ess2014[ess2014['cntry'] == 'SE'][['agea','sclact']]
DE_sclact = ess2014[ess2014['cntry'] == 'DE'][['agea','sclact']]
CH_sclact = ess2014[ess2014['cntry'] == 'CH'][['agea','sclact']]

In [30]:
SE_sclact.groupby(['agea'])['sclact'].mean() - CH_sclact.groupby(['agea'])['sclact'].mean()

agea
15.0          NaN
16.0    -0.397727
17.0     0.157895
18.0    -0.266667
19.0     0.621795
20.0     0.089286
21.0     0.455556
22.0    -0.800000
23.0     0.100000
24.0    -1.187500
25.0     0.366516
26.0     0.000000
27.0     0.384615
28.0     0.111111
29.0     0.531469
30.0    -0.166667
31.0     0.654762
32.0    -0.354545
33.0     0.300000
34.0     0.305195
35.0     0.405229
36.0    -0.183333
37.0    -0.138889
38.0     0.083333
39.0    -0.182609
40.0     0.511111
41.0     0.437500
42.0     0.333333
43.0    -0.272727
44.0     0.157143
           ...
63.0     0.520362
64.0     0.363636
65.0    -0.129870
67.0     0.463768
68.0    -0.033613
69.0     0.174242
70.0     0.000000
71.0    -0.337500
72.0     0.200000
73.0     0.458333
74.0     0.461538
75.0    -0.454545
76.0     0.800000
78.0     0.333333
79.0    -0.535714
80.0    -0.666667
81.0     0.166667
82.0    -0.266667
83.0     0.083333
84.0    -0.166667
85.0     0.166667
86.0     1.000000
87.0     1.000000
89.0    -2.000000
91.0     0.000000
92.0          NaN
93.0          NaN
94.0          NaN
95.0          NaN
114.0         NaN
Name: sclact, Length: 78, dtype: float64